*{
    margin: auto;
    padding: auto;
    border: auto; 
}

header {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#navproctitle {
    color: aliceblue;
    display: flex;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100;
    z-index: 200;
    top: -150;

}

body {
    background-color: rgb(29, 26, 26);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.logo {
    width: 120;
    height: 120;
    position: fixed;
    border-radius: 10px;
    left: -1700;
    right: 0;
    top: 30;
    margin: auto; 
    
}

#headBG {
    background-color: darkgreen;
    position: absolute;
    z-index: 10;
    width: 100%;
}

#TextHeadNav {
    list-style: none;
    font-family: raleway;
    font-size: 20px;
    top: 30px;
    position: fixed;
    margin: 0 auto;
    padding: 0;
    width: 98%;
    text-align: right;
    display: block;
    height: 100%;
}

#BGContent {
    background-color: rgb(36, 34, 33);
    top: 225;
    left: 500;
    width: 1000;
    height: 1200;
    position: center;
    display: block;
    z-index: 3;
    background-repeat: no-repeat;
    
}

#textcontent {
    color: #fff;
   font-size: 130%;
    margin: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    
}

#content2 {
    top: 800;
    left: 1550;
    right: 10 auto;
    bottom: 10 auto;
    padding: 100 auto;
    margin: 10;
    width: 80%;
    height: 550px;
    position: absolute;
    display: block;
    
}


#botnav {
    background:src="img/Header1.gif";
    position: absolute;
    width: 100%;
    height: 100%;
    clear: both;
    background-repeat:no-repeat;
    z-index: -1;
    
}

#TextBotNav {
    
    list-style: none;
    font-size: 20px;
    bottom: 120;
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 98%;
    text-align: center;
    display: block;
    height: 10;

}
#otherLinks {

    position: absolute;
    top: 700;
    left: 10;
    margin: 10;
    width: 80%;
    list-style: none;
    text-align: left;
    display: block;

}