*{
    margin: auto;
    padding: auto;
    border: auto; 
}

header {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left:auto;
    right: auto;
    height: auto;
    width: auto;
    z-index: 0;
}

#navproctitle {
    color: aliceblue;
    display: flex;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100;
    z-index: 200;
    top: -150;

}

.logo {
    width: 120;
    height: 120;
    position: absolute;
    border-radius: 10px;
    left: -1700;
    right: 0;
    top: 30;
    margin: auto; 
    z-index: -1;
    
}

#headBG {
    background-color: darkgreen;
    position: absolute;
    z-index: 10;
    width: 100%;
}

body {
    background-color: rgb(29, 26, 26);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
 

#TextHeadNav {
    list-style: none;
    font-family: raleway;
    font-size: 20px;
    top: 30px;
    position: absolute;
    margin: 0 auto;
    padding: 0;
    width: 98%;
    text-align: right;
    display: block;
    height: 100%;
}





#BGContent1 {
    background-color: rgb(243, 243, 243);
    top: auto;
    left: auto;
    width: 500;
    height: 500;
    position: relative;
    display: block;
    z-index: 0;
    background-repeat: no-repeat;
    
}

#textcontent1 {
    color: rgb(0, 0, 0);
   font-size: 130%;
    margin: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    
}

#content2 {
    top: 800;
    left: 1550;
    right: 10 auto;
    bottom: 10 auto;
    padding: 100 auto;
    margin: 10;
    width: 80%;
    height: 550px;
    position: absolute;
    display: block;
    
}


 


#botnav {
    background-color: dimgray;
    position: absolute;
    width: 100%;
    height: 100%;
    clear: both;
    background-repeat:no-repeat;
    z-index: 1;
    
}

#TextBotNav {
    
    list-style: none;
    font-size: 20px;
    bottom: auto;
    position: absolute;
    margin: auto;
    padding: 0;
    width: 98%;
    text-align: center;
    display: block;
    height: auto;
    z-index: 1;
}

#footer {
    background-color: dimgray;
    position: bottom;
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    z-index: 1;
}